<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Epilog</title>
    <meta name="description" content="Here goes description" />
    <meta name="author" content="author name" />
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon" />

    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <!-- Style CSS & Google Fonts -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic%7CMontserrat:400,700" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/styles/bootstrap.css" />
    <link rel="stylesheet" href="/styles/icomoon.css" />
    <link rel="stylesheet" href="/styles/owl.css" />
    <link rel="stylesheet" href="/styles/screen.css" />
</head>
<body id="front-page">
	{{> header}}
	
	<div id="page">
   	
		{{{body}}}
	
	</div>	
	
	{{> footer}}
</body>
</html>
